.menu--color-white {
  .menu__link {
    color: #fff;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    color: #5500f2;
  }
}

.footer-menu__link {
  &:hover {
    color: #ff9a00;
  }
}
